* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
   list-style-type: none;
   text-decoration: none;
}

.wrapper {
   max-width: 1200px;
   padding: 0 15px;
   margin: 50px auto;
}

.section_title {
   text-align: center;
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;

}

.section_subtitle {
   text-align: center;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}


/*mainpage*/

.mainpage {
   position: relative;

}

.meny {
   background: black;
   display: flex;
   justify-content: space-between;
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 2;

}

.meny_logo {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 10px;
   margin-left: 115px;
}

.meny_list {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 150px 0 0;
}

.meny_item {
   display: inline-block;
   color: white;
   padding: 20px 30px;
}

.meny_item:hover {
   color: #C6CBCD;
   background: #333333;
   transition: 0.2s;
}

.meny_item:active {
   color: #EC7979;
   transition: 0.1s;
}

.mainpage_bg {
   margin-top: 100px;
}

.mainpage_dis {}

.logo {}

.mainpage_title {}

.mainpage_border {}

.mainpage_subtitle {}

.mainpage_btn {}

.userinfo {}

.userinfo_titlr {}

.userinfo_name {}

.userinfo_email {}

.userinfo_password {}

.userinfo_btn {}

/*mainpage*/


/*section tabs*/

.tabs_body {
   margin-top: 60px;
}

.tabs_meny {
   display: flex;
   justify-content: flex-start;
   justify-items: center;
   align-items: center;
}

/*.tabs_many_item:hover{
   filter: drop-shadow(5px 5px 5px rgba(51, 51, 51, 0.5));
} */

.tabs_many_item :active {
   color: #EC7979;
}

.tabs_meny__list1 {
   width: 180px;
   height: 40px;
   text-align: center;
   padding-top: 9px;
   margin-bottom: -1px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   border: 1px solid #C6CBCD;
   border-bottom: none;
   border-radius: 5px 5px 0px 0px;
   background: #FFFFFF;
}

.tabs_meny__list2 {
   width: 180px;
   text-align: center;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
}

.tabs_meny__list3 {
   width: 180px;
   text-align: center;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
}

.row {
   display: flex;
   border: 1px solid #C6CBCD;
}

.row_body {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 40px 30px 30px 100px;
}

.row_title {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
}

.row_dicription {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

.p_dicription {
   padding: 20px 0;
}

.btn a {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #FFFFFF;
   border: none;
   background: #EC7979;
   padding: 10px 50px;
}

.btn a:hover {
   filter: drop-shadow(5px 5px 5px rgba(51, 51, 51, 0.5));
   transition: 0.15s;
}

.btn a:active {
   background: #EC7979;
}

.img {
   width: 470px;
   height: 500px;
}

/*section tabs*/
/*-------------------*/
/*section awesome*/

.solid {
   border: 1px solid;
   border-color: coral;
   width: 170px;
   margin: 50px auto;
   margin-bottom: 40px;
}

.cart_body {
   text-align: center;
   margin: 60px 0;
}

.cart {
   display: inline-block;
   text-align: center;
   margin: 30px 0;
   padding: 0 15px;
   width: 300px;
}

.card_img--1 {
   display: inline-block;
   height: 92px;
   width: 92px;
   margin: auto;
   padding: 8px;
   border: 1px solid;
   border-color: coral;
   border-radius: 46px;
}

.cart__title {
   margin: 50px 0;
}

.cart__description {}

.card_img--2 {
   display: inline-block;
   height: 92px;
   width: 92px;
   margin: auto;
   padding: 22px 12px 12px 12px;
   border: 1px solid;
   border-color: coral;
   border-radius: 46px;
}

.card_img--3 {
   display: inline-block;
   height: 92px;
   width: 92px;
   margin: auto;
   padding: 12px;
   border: 1px solid;
   border-color: coral;
   border-radius: 46px;
}

/*section awesome*/
/*-------------------*/
/*pricing PRICING*/

.PRICING {
   background: #F5F5F5;
   padding: 50px 0;
}

.pricing-cart {
   text-align: center;
   margin: 60px 0;
}

.pricing-cart--left {
   display: inline-block;
   text-align: center;
   margin: 30px 0;
   padding: 0 15px;
   width: 300px;
}

.pricind-list--item {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878B;
}

.pricind-list--item--space {
   padding: 10px 0;
   border: 1px solid #F5F5F5;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: rgba(134, 135, 139, 1);
   padding: 10px 0;
   background: #FFFFFF;
}

.pricind-list--item h4 {
   background: #333333;
   border: 1px solid #F5F5F5;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #FFFFFF;
   padding: 10px 0;
}

.pricind-list--item h3 {
   background: #333333;
   border: 1px solid #F5F5F5;
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   color: #FFFFFF;
   padding: 20px 0;
}

.pricind-list--item--first {
   background: #333333;
   border: 1px solid #F5F5F5;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
   padding: 10px 0;
}

.pricing-cart--mid {
   display: inline-block;
   text-align: center;
   margin: 30px 0;
   padding: 0 15px;
   width: 300px;
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
   position: relative;
   top: -20px;
}

.pricing-cart--right {
   display: inline-block;
   text-align: center;
   margin: 30px 0;
   padding: 0 15px;
   width: 300px;
}

/*pricing PRICING*/

/*section banner*/

.BANNER {
   background: url(../assets/imagedesign.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding: 50px 0;
}

.banner--title {
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
}

.solid--banner {
   border: 1px solid;
   border-color: #FFFFFF;
   width: 170px;
   margin: 50px auto;
}

.banner--subtitle {
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #FFFFFF;
}

.ban_btn {
   text-align: center;
   margin: 70px auto;
}

.banener--btn {
   padding: 10px 100px;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   border: 2px solid #FFFFFF;
}

/*section banner*/

/*customers*/







/*customers*/